In [11]:
# Dependencies & Setup
#--------------------------
import pandas as pd
import numpy as np
import datetime as dt

In [12]:
# Files
#------------------------------------------
jun2018 = "201806-citibike-tripdata.csv"
jul2018 = "201807-citibike-tripdata.csv"
aug2018 = "201808-citibike-tripdata.csv"
jun2021 = "JC-202106-citibike-tripdata.csv"
jul2021 = "JC-202107-citibike-tripdata.csv"
aug2021 = "JC-202108-citibike-tripdata.csv"
dec2021 = "JC-202112-citibike-tripdata.csv"
jan2022 = "JC-202201-citibike-tripdata.csv"
feb2022 = "JC-202202-citibike-tripdata.csv"

In [13]:
# Read Data 2018, 2021 & 2022 Citi Bike Data Files & Store into Pandas DataFrames
#------------------------------------------------------------------------------------

jun2018_df = pd.read_csv(jun2018, encoding="ISO-8859-1")
jul2018_df = pd.read_csv(jul2018, encoding="ISO-8859-1")
aug2018_df = pd.read_csv(aug2018, encoding="ISO-8859-1")
jun2021_df = pd.read_csv(jun2021, encoding="ISO-8859-1")
jul2021_df = pd.read_csv(jul2021, encoding="ISO-8859-1")
aug2021_df = pd.read_csv(aug2021, encoding="ISO-8859-1")
dec2021_df = pd.read_csv(dec2021, encoding="ISO-8859-1")
jan2022_df = pd.read_csv(jan2022, encoding="ISO-8859-1")
feb2022_df = pd.read_csv(feb2022, encoding="ISO-8859-1")

In [14]:
# Combine All DataFrames Into Single DataFrame
#---------------------------------------------------------------------------
summer2018_df = jun2018_df.append([jul2018_df, aug2018_df], ignore_index=True)
summer2018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,569,2018-06-01 01:57:20.5140,2018-06-01 02:06:50.0880,72.0,W 52 St & 11 Ave,40.767272,-73.993929,173.0,Broadway & W 49 St,40.760683,-73.984527,21481,Subscriber,1999,1
1,480,2018-06-01 02:02:42.3980,2018-06-01 02:10:43.3540,72.0,W 52 St & 11 Ave,40.767272,-73.993929,477.0,W 41 St & 8 Ave,40.756405,-73.990026,19123,Subscriber,1988,1
2,692,2018-06-01 02:04:23.6240,2018-06-01 02:15:55.7470,72.0,W 52 St & 11 Ave,40.767272,-73.993929,457.0,Broadway & W 58 St,40.766953,-73.981693,26983,Subscriber,1986,1
3,664,2018-06-01 03:00:55.4610,2018-06-01 03:11:59.9060,72.0,W 52 St & 11 Ave,40.767272,-73.993929,379.0,W 31 St & 7 Ave,40.749156,-73.991600,26742,Subscriber,1973,1
4,818,2018-06-01 06:04:54.4270,2018-06-01 06:18:32.6170,72.0,W 52 St & 11 Ave,40.767272,-73.993929,459.0,W 20 St & 11 Ave,40.746745,-74.007756,26386,Subscriber,1984,1

In [15]:
# Combine All DataFrames Into Single DataFrame
#---------------------------------------------------------------------------
summer2021_df = jun2021_df.append([jul2021_df, aug2021_df], ignore_index=True)
summer2021_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6457BC38526A4187,docked_bike,2021-06-21 10:19:04,2021-06-21 10:26:28,Lafayette Park,JC078,City Hall,JC003,40.713463,-74.062858,40.717732,-74.043845,member
1,508AC0C37B2BE1A8,docked_bike,2021-06-05 10:12:18,2021-06-05 10:27:10,Mama Johnson Field - 4 St & Jackson St,HB404,Bloomfield St & 15 St,HB203,40.743139,-74.040040,40.754530,-74.026580,member
2,A1AD52779E13308C,docked_bike,2021-06-04 15:42:35,2021-06-04 15:54:28,Lincoln Park,JC053,Grand St,JC102,40.724605,-74.078405,40.715178,-74.037683,member
3,DA8AA7083ACCA940,docked_bike,2021-06-03 18:07:42,2021-06-03 19:09:26,Columbus Park - Clinton St & 9 St,HB501,Columbus Park - Clinton St & 9 St,HB501,40.748161,-74.032453,40.748161,-74.032453,casual
4,BF8DB08AEF78C8D1,docked_bike,2021-06-05 15:39:56,2021-06-05 16:16:09,Columbus Park - Clinton St & 9 St,HB501,Columbus Park - Clinton St & 9 St,HB501,40.748161,-74.032453,40.748161,-74.032453,casual

In [16]:
# Combine All DataFrames Into Single DataFrame
#--------------------------------------------------------------------------
winter2021_df = dec2021_df.append([jan2022_df, feb2022_df], ignore_index=True)
winter2021_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DE8FDF918B766B34,classic_bike,2021-12-22 18:44:12,2021-12-22 18:49:56,Marin Light Rail,JC013,Warren St,JC006,40.714584,-74.042817,40.721124,-74.038051,member
1,DFFA588D5D188F27,classic_bike,2021-12-11 12:32:58,2021-12-11 12:57:13,Warren St,JC006,Warren St,JC006,40.721124,-74.038051,40.721124,-74.038051,member
2,3A2A9CA5E1CC449A,classic_bike,2021-12-18 11:08:40,2021-12-18 11:21:10,Warren St,JC006,Warren St,JC006,40.721124,-74.038051,40.721124,-74.038051,member
3,72216E8C562A4E02,classic_bike,2021-12-11 17:28:08,2021-12-11 17:42:16,5 Corners Library,JC018,Warren St,JC006,40.734961,-74.059503,40.721124,-74.038051,member
4,A7B30B3C966FD8A1,classic_bike,2021-12-11 10:39:41,2021-12-11 10:54:56,City Hall - Washington St & 1 St,HB105,Warren St,JC006,40.737360,-74.030970,40.721124,-74.038051,casual

In [17]:
# Convert All DateTimes to "%Y-%m-%d %H:%M:%S" Format
#------------------------------------------------------------------------
summer2018_df["starttime"] = pd.to_datetime(summer2018_df["starttime"])
summer2018_df["stoptime"] = pd.to_datetime(summer2018_df["stoptime"])
summer2018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,569,2018-06-01 01:57:20.514,2018-06-01 02:06:50.088,72.0,W 52 St & 11 Ave,40.767272,-73.993929,173.0,Broadway & W 49 St,40.760683,-73.984527,21481,Subscriber,1999,1
1,480,2018-06-01 02:02:42.398,2018-06-01 02:10:43.354,72.0,W 52 St & 11 Ave,40.767272,-73.993929,477.0,W 41 St & 8 Ave,40.756405,-73.990026,19123,Subscriber,1988,1
2,692,2018-06-01 02:04:23.624,2018-06-01 02:15:55.747,72.0,W 52 St & 11 Ave,40.767272,-73.993929,457.0,Broadway & W 58 St,40.766953,-73.981693,26983,Subscriber,1986,1
3,664,2018-06-01 03:00:55.461,2018-06-01 03:11:59.906,72.0,W 52 St & 11 Ave,40.767272,-73.993929,379.0,W 31 St & 7 Ave,40.749156,-73.991600,26742,Subscriber,1973,1
4,818,2018-06-01 06:04:54.427,2018-06-01 06:18:32.617,72.0,W 52 St & 11 Ave,40.767272,-73.993929,459.0,W 20 St & 11 Ave,40.746745,-74.007756,26386,Subscriber,1984,1

In [18]:
# Convert All DateTimes to "%Y-%m-%d %H:%M:%S" Format
#--------------------------------------------------------------------------

summer2021_df["started_at"] = pd.to_datetime(summer2021_df["started_at"])
summer2021_df["ended_at"] = pd.to_datetime(summer2021_df["ended_at"])
summer2021_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6457BC38526A4187,docked_bike,2021-06-21 10:19:04,2021-06-21 10:26:28,Lafayette Park,JC078,City Hall,JC003,40.713463,-74.062858,40.717732,-74.043845,member
1,508AC0C37B2BE1A8,docked_bike,2021-06-05 10:12:18,2021-06-05 10:27:10,Mama Johnson Field - 4 St & Jackson St,HB404,Bloomfield St & 15 St,HB203,40.743139,-74.040040,40.754530,-74.026580,member
2,A1AD52779E13308C,docked_bike,2021-06-04 15:42:35,2021-06-04 15:54:28,Lincoln Park,JC053,Grand St,JC102,40.724605,-74.078405,40.715178,-74.037683,member
3,DA8AA7083ACCA940,docked_bike,2021-06-03 18:07:42,2021-06-03 19:09:26,Columbus Park - Clinton St & 9 St,HB501,Columbus Park - Clinton St & 9 St,HB501,40.748161,-74.032453,40.748161,-74.032453,casual
4,BF8DB08AEF78C8D1,docked_bike,2021-06-05 15:39:56,2021-06-05 16:16:09,Columbus Park - Clinton St & 9 St,HB501,Columbus Park - Clinton St & 9 St,HB501,40.748161,-74.032453,40.748161,-74.032453,casual

In [19]:
# Convert All DateTimes to "%Y-%m-%d %H:%M:%S" Format
#--------------------------------------------------------------------------
winter2021_df["started_at"] = pd.to_datetime(winter2021_df["started_at"])
winter2021_df["ended_at"] = pd.to_datetime(winter2021_df["ended_at"])
winter2021_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DE8FDF918B766B34,classic_bike,2021-12-22 18:44:12,2021-12-22 18:49:56,Marin Light Rail,JC013,Warren St,JC006,40.714584,-74.042817,40.721124,-74.038051,member
1,DFFA588D5D188F27,classic_bike,2021-12-11 12:32:58,2021-12-11 12:57:13,Warren St,JC006,Warren St,JC006,40.721124,-74.038051,40.721124,-74.038051,member
2,3A2A9CA5E1CC449A,classic_bike,2021-12-18 11:08:40,2021-12-18 11:21:10,Warren St,JC006,Warren St,JC006,40.721124,-74.038051,40.721124,-74.038051,member
3,72216E8C562A4E02,classic_bike,2021-12-11 17:28:08,2021-12-11 17:42:16,5 Corners Library,JC018,Warren St,JC006,40.734961,-74.059503,40.721124,-74.038051,member
4,A7B30B3C966FD8A1,classic_bike,2021-12-11 10:39:41,2021-12-11 10:54:56,City Hall - Washington St & 1 St,HB105,Warren St,JC006,40.737360,-74.030970,40.721124,-74.038051,casual

In [20]:
# Save Combined DataFrames to CSV
#---------------------------------------------------------------
summer2018_df.to_csv("Citi_summer2018.csv", index=False, header=True)
summer2021_df.to_csv("Citi_summer2021.csv", index=False, header=True)
winter2021_df.to_csv("Citi_winter2021.csv", index=False, header=True)